.align-content-item {
  width: 250px;
  padding: 5px;
  height: auto;
}

.example-one-container {
  flex-wrap: wrap;
  height: 150px;
  align-content: stretch;
}

.example-two-container {
  flex-wrap: wrap;
  height: 150px;
  align-content: flex-start;
}

.example-three-container {
  flex-wrap: wrap;
  height: 150px;
  align-content: flex-end;
}

.example-four-container {
  flex-wrap: wrap;
  height: 150px;
  align-content: center;
}

.example-five-container {
  flex-wrap: wrap;
  height: 150px;
  align-content: space-around;
}

.example-six-container {
  flex-wrap: wrap;
  height: 150px;
  align-content: space-between;
}

.example-seven-container {
  flex-wrap: wrap;
  height: 150px;
  align-content: space-evenly;
}
