.main-container {
  display: flex;
  background-color: var(--third);
  padding: 15px;
}

.colored-box {
  width: 250px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-text {
  padding: 15px;
  background-color: white;
}
