.example-two-item-one {
  order: 1;
  background-color: purple;
}

.example-two-item-three {
  order: 2;
}

.example-three-item-one {
  order: -2;
}

.example-three-item-three {
  order: -1;
  background-color: purple;
}
