:root {
  --primary: rgb(129, 195, 240);
  --secondary: rgb(108, 164, 201);
  --third: rgb(99, 149, 184);
  --highlight: rgb(222, 207, 187);
}

/* ELEMENTAL PROPERTIES */

/* overall properties */
* {
  margin: 0;
}

/* header properties */
header {
  position: relative;
}
ul {
  margin-bottom: 45px;
}

/* footer properties */
footer {
  display: flex;
  justify-content: space-between;
}
footer > p {
  font-size: 0.75em;
}
footer > p:first-child {
  margin-left: 15px;
}
footer > p:last-child {
  margin-right: 15px;
}

/* CLASS PROPERTIES *
/
/* general font formatting */
.title-format {
  font-family: 'Tektur', cursive;
}
.text-format {
  font-family: 'Roboto', sans-serif;
}
.page-text {
  margin-bottom: 15px;
}

/* header properties */
.header-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 0 25%;
}
.header-title {
  position: absolute;
  top: 35px;
  left: 25px;
  color: var(--primary);
  font-family: 'Tektur', cursive;
  font-size: 3.25rem;
}
/* navigation formatting */
.navbar {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 5px;
  right: 5px;
  list-style: none;
}
.navitem {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: var(--primary);
}
/* image discalimer to use for FREE */
.image-disclaimer {
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-decoration: none;
  color: var(--primary);
  font-family: 'Roboto', sans-serif;
}

/* main body formatting */
.main {
  margin: 0 45px;
}
.main-title {
  background-color: var(--primary);
  padding: 10px;
  margin: 25px 0;
  font-family: 'Tektur', cursive;
  font-size: 2.5rem;
  border-radius: 5px;
  text-align: center;
}

/* sub item properties */
.sub-title {
  background-color: var(--third);
  padding: 15px;
  font-family: 'Tektur', cursive;
  font-size: 2rem;
  border-radius: 5px;
  margin: 45px 0 25px 0;
  text-align: center;
}

.sub-item-format {
  margin-bottom: 25px;
  margin-top: 35px;
}
.sub-sub-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
  text-align: center;
}
.emphasis {
  font-weight: bold;
}
.highlight {
  background-color: var(--highlight);
  padding: 15px;
  color: black;
}
.tip-with-list {
  background-color: var(--highlight);
  padding: 15px;
  color: black;
  margin-bottom: 0;
}
/* may want to fine tune this if there are more in the website */
ul > li {
  /* background-color: rgba(255, 255, 255, 0); */
  margin-left: 15px;
}

/* Container Examples */
.example-container {
  display: flex;
  gap: 15px;
  background-color: black;
  margin: 25px 0;
}

.example-item {
  background-color: var(--primary);
  color: white;
  width: 100px;
  height: 55px;
}

.code-img-section {
  text-align: center;
  width: 100%;
  margin: 15px 0;
}
.code-img {
  max-width: 100%;
  height: auto;
}
.img-section {
  text-align: center;
  margin: 25px 0;
}

/* between items separator */
.item-sep {
  margin-top: 35px;
}
.item-sep-img {
  width: 100%;
  height: auto;
}

.back-to-top {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 15px;
}

@media (max-width: 640px) {
  .header-title {
    font-size: 2.5rem;
  }
  .main-title {
    font-size: 1.25rem;
  }
  .sub-title {
    font-size: 1rem;
  }
}
